/* Réinitialisation des styles de base de Leaflet */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Correction des icônes manquantes */
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

.leaflet-container .leaflet-marker-icon,
.leaflet-container .leaflet-marker-shadow {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

.leaflet-container .leaflet-marker-shadow {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-shadow.png);
}
